<h1>Csv#import</h1>
<p>Find me in app/views/csv/import.html.erb</p>
<%= form_for :upload, :html => { :multipart => true } do |f| -%>
  <%= f.file_field :csv %>
  <%= f.submit "Upload", :disable_with => 'Uploading...' %>
<% end -%>
