<p id="notice"><%= notice %></p>

<p>
  <b>Original path:</b>
  <%= @import_table.original_path %>
</p>


<%= link_to 'Edit', edit_import_table_path(@import_table) %> |
<%= link_to 'Back', import_tables_path %>
